body {
    padding-top: 70px;
    margin-bottom: 60px;
    background-color: #111725;
    color: #ffffff;
  }
  
  .navbar {
    background-color: #4d669c;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navbar-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
  }
  
  
  .footer {
    background-color: #232f47;
    color: #e0ae7d;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
